<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron bg-warning my-4 my-lg-5 py-3">
    <h3>Welcome to Dark Store</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/51LUOjTbcpL._SY346_.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">The Hacker Playbook 2</h5>
        <p class="card-text">
          contains all books
        </p>
        <a href="/home/comic" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/51xHy6o1c5L.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">BackTrack 5 Wireless Penetration Testing</h5>
        <p class="card-text">
          You can get Best Hacking Books
        </p>
        <a href="/home/computer-books.html" class="btn btn-dark">check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
